<div id="<%= dom_id task %>">
  <p>
    <strong>Task category:</strong>
    <%= task.task_category %>
  </p>

  <p>
    <strong>Task type:</strong>
    <%= task.task_type %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= task.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= task.status %>
  </p>

</div>
