
<div class="row-slogan text-center">
  <br/>
  <h3 class="lexend-title">HANDY HEROES</h3>
  <br/>
  <h4 class="lexend-subtitle">Connecting Communities, One Task at a Time.</h4>
  <br/>
</div>

<div id="fullWidthCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="<%= asset_path 'car1.png' %>" class="img-fluid w-100 rounded d-block mx-auto" alt="Slide 1">
    </div>
    <div class="carousel-item">
      <img src="<%= asset_path 'car2.png' %>" class="img-fluid w-100 rounded d-block mx-auto" alt="Slide 2">
    </div>
    <div class="carousel-item">
      <img src="<%= asset_path 'car3.png' %>" class="img-fluid w-100 rounded d-block mx-auto" alt="Slide 3">
    </div>
  </div>
</div>



<div class="container-fluid background-cover-white">
<br/>
<br/>
<div class="container infocards ">
  <div class="row">
    <div class="col-lg-4 mb-4 d-flex justify-content-center">
   
      <div class="card cardorange" style="width: 18rem;">
        <img src="<%= asset_path 'philosophy.jpg' %>" class="card-img-top" alt="Our Philosophy">
        <div class="card-body">
          <h5 class="card-title text-center">Our Philosophy</h5>
          <ul class="orangebullet">
            <li>At Handy Heroes, we believe in the power of community. Handy Heroes connects compassionate local volunteers with elderly neighbors who need a hand with everyday DIY tasks.</li>
            <li>Join us in building stronger, more connected communities - because a small job can make a big difference!</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-4 mb-4 d-flex justify-content-center">
      <div class="card cardnavy" style="width: 18rem;">
        <img src="<%= asset_path 'help.jpg' %>" class="card-img-top" alt="How We Help">
        <div class="card-body">
          <h5 class="card-title text-center">How We Help</h5>
          <ul class="orangebullet">
            <li>Connect vetted volunteers with elderly neighbours in need of DIY assistance.</li>
            <li>Tasks include everything from minor repairs to home maintenance and gardening.</li>
            <li>Simple, user-friendly platform to request or offer help.</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-4 mb-4 d-flex justify-content-center">
      <div class="card cardblue" style="width: 18rem;">
        <img src="<%= asset_path 'tick.jpg' %>" class="card-img-top" alt="Why Handy Heroes">
        <div class="card-body">
          <h5 class="card-title text-center">Why Handy Heroes?</h5>
          <ul class="orangebullet">
            <li>Make a real difference in someone's life with just a few hours of your time.</li>
            <li>Empower seniors to remain independent in their homes.</li>
            <li>Build a stronger, more connected community.</li>
          </ul>
        </div>
      </div>
    </div>
  </div> <!-- Closing .row for cards -->
</div>
  
</div> <!-- Closing .container -->

<hr class="hr"></hr>
